*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.article-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 6rem;
    margin-right: 6rem;
    border: 2px solid #9fa0a0;
    border-radius: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.articles-container .h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(58, 58, 61);
}

.articles-container span{
    color: red;
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
}

.articles-container button{
    width: 200px;
    height: 40px;
}


@media (max-width: 812px)
{
    .articles-container {
        display: flex;
        flex-direction: column;
    }
}

body{
    background-image: none;
}